{% extends "main.html" %}
{% block content %}


    <div>

        <div id="google-login" class="login-btn">
            <button class="g-signin" data-scope="openid email" data-clientid="918186070611-7ij9cuepjd3lo7ohf50ck27srpdnnrdj.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="googleCallback" data-approvalprompt="force">
                </button>
        </div>
        <div class="login-btn">
            <fb:login-button scope="public_profile,email" onlogin="sendFBToken();">
                <a href='javascript:sendFBToken()'>Login with Facebook</a>
            </fb:login-button>
        </div>


    </div>
    <div id="result"></div>

{% endblock %}
{% block scripts %}
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>

</script>
{% endblock %}
